:root {
    --primary-color: #120211;
    --secondary-color: #ffffff;
    --background-color: #1A1A1A;
    --text-color: #FFFFFF;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    transition: opacity 0.3s ease;
    padding: 0;
}

.neon-nav {
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-left, .nav-right {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
}

.logo {
    height: 150px;
    width: auto;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
    background-color: rgb(255, 88, 230);
}

main {
    padding-top: 60px;
}

.gallery-section {
    padding: 20px;
    text-align: center;
}

.masonry {
    column-count: 5;
    column-gap: 1em;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.masonry-item img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Lightbox Styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.cta-button {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff34c9;
}
/* events-popup.css */
.events-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.events-popup-content {
    background-color: #000;
    color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
    text-align: center;
}

.close-events-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

.events-popup h2 {
    margin-bottom: 20px;
    font-family: 'Vast Shadow', serif;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-info p {
    margin: 0;
    font-size: 1.1rem;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
}

.contact-info a:hover {
    opacity: 0.8;
}

.contact-info i {
    margin-right: 10px;
    width: 20px;
}
.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.cta-button {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff34c9;
}

.floating-coupon-button {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 1000;
}

.floating-coupon-button {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 1000;
}

.floating-button {
    background-color: #000000;
    color: #fcfcfc;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px; /* Adjust width for square shape */
    height: 80px; /* Adjust height for square shape */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
    border-radius: 10px; /* Slight rounding for a softer square */
}

.floating-button:hover {
    background-color: #ff38ca;
}